section {
    margin-bottom: 10px;
}

.closed {
    color: red;
    text-decoration: line-through;
    font-style: italic;
    font-weight: bold;
    ;
}

.stats {
    font-size: 18pt;
}
 /* 
 Here we need to bring in the styles that we want to be in this 
 component and not simply point the styleUrls to that of the 
 parent's component style! Treat each component as its own entity
  */